<footer class="footer">
  <nav class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="has-text-centered-mobile">
          <strong>Mazgaba Maṣāḥeft</strong>
          <small>(v0.1.2)</small>
          <span>by <a href="https://augustinedickinson.com">Augustine Dickinson</a>.</span>
          <br>
          <small>
            <span>Data from <a href="https://betamasaheft.eu" target="_blank">Beta Maṣāḥǝft</a> is licensed</span>
            <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" style="position: relative; top: 2px; white-space: nowrap;">
              <span class="icon is-small"><i class="fab fa-creative-commons"></i></span>
              <span class="icon is-small"><i class="fab fa-creative-commons-by"></i></span>
              <span class="icon is-small"><i class="fab fa-creative-commons-sa"></i></span>
            </a>
          </small>
        </p>
      </div>
    </div>
    <div class="level-right">
      <nav class="breadcrumb has-dot-separator is-centered is-small">
        <ul>
          <li><a href="https://github.com/smaugustine/MazgabaMasaheft#readme" target="_blank">About</a></li>
          <li><a href="https://github.com/smaugustine/MazgabaMasaheft/issues" target="_blank">Report Issues</a></li>
          <li><a href="https://github.com/smaugustine/MazgabaMasaheft" target="_blank">Source</a></li>
        </ul>
      </nav>
    </div>
  </nav>
</footer>