<nav class="navbar is-primary" role="navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      {{> logo height=28}}
    </a>

    <a id="burger" role="button" class="navbar-burger burger" data-target="navbar-menu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/works/">Works</a>
      <a class="navbar-item" href="/manuscripts/">Manuscripts</a>
      <a class="navbar-item" href="/persons/">Persons</a>
      <a class="navbar-item" href="/institutions/">Institutions</a>
      <a class="navbar-item" href="/places/">Places</a>
      <a class="navbar-item" href="/search/">
        <span class="icon is-hidden-mobile"><i class="fas fa-search"></i></span>
        <span class="is-hidden-tablet">Search</span>
      </a>
    </div>
  </div>
</nav>

<script>
  $(document).ready(function(){
    $(document).on('click', '#burger', function(){
      $(this).toggleClass('is-active');
      $('#navbar-menu').toggleClass('is-active');
    });
  });
</script>