<form id="goto">
  <div class="field has-addons has-addons-centered">
    <div class="control">
      <input id="record" class="input" type="text" placeholder="Record ID" required>
    </div>
    <div class="control is-hidden-mobile">
      <div class="select">
        <select id="branch">
          <option disabled>Branch:</option>
          {{#each branches as |branch|}}
          <option>{{branch}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="control">
      <button type="submit" class="button is-info">Go</button>
    </div>
  </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){

    $('#goto').on('submit', function(e){
      e.preventDefault();

      if($('#branch').val() == 'master') var redirect = "./"+$('#record').val()+"/main";
      else var redirect = "./"+$('#record').val()+"/main?branch="+$('#branch').val();

      $(location).attr('href', redirect);
    });

  });
</script>