<form id="goto">
  <div class="field has-addons has-addons-centered">
    <div class="control">
      <div class="select">
        <select id="recordType">
          <option disabled>Record Type:</option>
          <option value="works">Work</option>
          <option value="manuscripts">Manuscript</option>
          <option value="persons">Person</option>
        </select>
      </div>
    </div>
    <div class="control">
      <input id="recordId" class="input" type="text" placeholder="Record ID" required>
    </div>
    <div class="control">
      <button type="submit" class="button is-info">Go</button>
    </div>
  </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){

    $('#goto').on('submit', function(e){
      e.preventDefault();

      const redirect = $('#recordType').val()+"/"+$('#recordId').val()+"/main";

      $(location).attr('href', redirect);
    });

  });
</script>