<div id="code-editor">
  <script id="xmlContent" type="text/xml">{{{xml}}}</script>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js" integrity="sha256-id5Qk/MwQJxgNlDFDpVymUuReXfTUZiaQKb8arrddQM=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/xml/xml.min.js" integrity="sha256-Lfk8z6WUsBN6YiCaMpH6bxBHyRqkPK4O2QbQHFNUS40=" crossorigin="anonymous"></script>
<script>
  var codeMirrorInstance = CodeMirror(document.getElementById('code-editor'), {
    value: document.getElementById('xmlContent').innerHTML,
    mode:  "xml",
    lineNumbers: true,
    lineWrapping: true,
    readOnly: 'nocursor'
  });
  document.getElementById('xmlContent').remove();
</script>