<div id="manuscript-data" class="columns is-multiline">
  
  <div id="manuscript-contents" class="column is-two-thirds"></div>
  <div id="manuscript-details" class="column is-one-third"></div>
  <div id="manuscript-misc" class="column is-full"></div>

</div>

<script id="xmlContent" type="text/xml">{{{xml}}}</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script>
  $(document).ready(function(){
    const xmlRequest = new XMLHttpRequest();
    const xsltProcessor = new XSLTProcessor();
    const domParser = new DOMParser();

    const xmlDoc = domParser.parseFromString(document.getElementById('xmlContent').innerHTML, "text/xml");

    xmlRequest.open("GET", "/static/xsl/manuscripts/data-contents.xsl", false);
    xmlRequest.send(null);
    var xslStylesheet = xmlRequest.responseXML;
    xsltProcessor.importStylesheet(xslStylesheet);

    $('#manuscript-contents').html(xsltProcessor.transformToFragment(xmlDoc, document));

    xmlRequest.open("GET", "/static/xsl/manuscripts/data-misc.xsl", false);
    xmlRequest.send(null);
    xslStylesheet = xmlRequest.responseXML;
    xsltProcessor.importStylesheet(xslStylesheet);
    
    $('#manuscript-misc').html(xsltProcessor.transformToFragment(xmlDoc, document));

    $.getJSON("/static/json/editors.json", function(editors){
      $('span[data-initials]').each(function(){
        $(this).text(editors[$(this).attr('data-initials')]);
      });
    });

    $('time').each(function(){
      $(this).text(
        (new Date($(this).attr('datetime')).toLocaleDateString())
      );
    });

    $(document).on('click', 'a[data-toggle]', function(){
      var elemId = $(this).attr('data-toggle');
      $("*[data-for='"+elemId+"']").toggleClass('is-hidden');
      $(this).find('.icon').toggleClass('is-hidden');
    });
  });
</script>