@charset "utf-8"

@import "../node_modules/bulma/sass/utilities/initial-variables"

$primary: #fdc500
$navbar-breakpoint: $tablet

@import "../node_modules/bulma/sass/utilities/_all"
@import "../node_modules/bulma/sass/base/_all"
@import "../node_modules/bulma/sass/elements/_all"
@import "../node_modules/bulma/sass/form/_all"
@import "../node_modules/bulma/sass/components/_all"
@import "../node_modules/bulma/sass/grid/_all"
@import "../node_modules/bulma/sass/layout/_all"

@import "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.css"

div.CodeMirror
  height: auto